<li class="nav-item custom-dropdown">
    <li class="dropdown" id="services">
        <a href="#" class="dropbtn nav-link hover-link d-block d-lg-none" onclick="toggleMenu('servicesDropdown', event)">
            @lang('messages.colors') 
            <span class="toggle">+</span>
        </a>
        <div class="mega-menu" id="servicesDropdown" style="display: none;">
            <div class="d-flex justify-content-center align-items-center">
                <div class="row mt-3">
                    @foreach ($colors as $color)
                    <div class="col-md-2 mb-3 position-relative">
                        <a href="{{ route('color.single.color', $color->id) }}" target="_blank">
                           {{ $color->name }}
                        </a>
                    </div>
                    @endforeach
                </div>
            </div>
        </div>
    </li>
</li>